.sign {
  padding: 84px 0;
  background-color: #f0fbf7;
  &__inner {
    background-color: $white;
    border-radius: 25px;
    box-shadow: 0px 3px 0px 0px #00000016;
    padding: 80px 100px 100px;
    display: flex;
    justify-content: space-between;
    &-form {
      width: calc(50% - 15px);
      max-width: 310px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &-link {
        font-size: 16px;
        line-height: 21px;
        color: $black;
        font-weight: 400;
        text-decoration: underline;
        margin-top: 14px;
        &:hover {
          opacity: 1;
          color: $primary;
        }
      }
      h5 {
        margin-bottom: 28px;
      }
      .button {
        width: 100%;
        max-width: 200px;
        margin-bottom: 24px;
        padding: 12px 20px;
      }
      p {
        &.sm {
          font-size: 11px;
          line-height: 15px;
          font-weight: 400;
          color: #666666;
          a {
            color: #666666;
            font-weight: 700;
            &:hover {
              opacity: 1;
              color: $primary;
            }
          }
        }
      }
    }
    &-inputs {
      width: 100%;
      margin-bottom: 28px;
    }
    &-buttons {
      .button {
        width: 100%;
        margin-bottom: 6px;
        &:last-child {
          margin: 0;
        }
      }
    }
    &-col {
      width: calc(50% - 15px);
      max-width: 310px;

      h6 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 1px;
          background-color: #e4e4e4;
          content: "";
          transform: translate(-50%, -50%);
        }
        b {
          font-weight: 400;
          text-align: center;
          padding: 8px;
          background-color: $white;
          position: relative;
          z-index: 2;
        }
      }
    }
    .input {
      margin-bottom: 12px;
      input {
        padding: 20px 14px 8px 14px;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}
// 1024px
@mixin sign-lg-xlg {
  .sign {
    padding: 60px 0;
    &__inner {
      padding: 50px;
    }
  }
}
// 750px
@mixin sign-sm-md {
  .sign {
    &__inner {
      padding: 35px 20px;
      &-form {
        width: calc(50% - 8px);
      }
      &-col {
        width: calc(50% - 8px);
      }
    }
  }
}
// 650px
@mixin sign-sm-md-extra {
  .sign {
    padding:  40px 0;
    &__inner {
      padding: 30px 20px 80px;
      flex-direction: column;
      position: relative;
      &-form {
        width: 100%;
        max-width: unset;
        margin-bottom: 30px;
        &-link {
            position: absolute;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
          }
        p {
            &.sm {
                margin: 0 auto 0 0;
                max-width: 280px;
                text-align: start;
            }
        }
      }

      &-col {
        width: 100%;
        max-width: unset;
      }
    }
  }
}
